@font-face {
    font-family: 'SamsungOne';
    src: url('path_to_your_font/SamsungOne-Regular.ttf') format('truetype');
}

*{
    padding: 0px;
    margin: 0px;
    font-family: 'SamsungOne', sans-serif;
}
/* body{
    width: 2160px;
    max-width: 100vw;
    margin: auto;
} */
#header{
    height: 100px;
    display: grid;
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: auto;
    padding: 0 20px;
    width: 1440px;
    max-width: 100vw;
    margin: auto;
}
/* Logo  */
#header>.logo{
    display: flex;
    align-items: center;
}
#header>.logo img{
    width: 100%; 
    height: auto;
}
/* Menu */
#header>.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
#header>.menu>ul{
    display: flex;
    list-style: none;
}
#header>.menu>ul>li{
    padding: 0 10px;
    position: relative;
}
#header>.menu>.left-menu{
    height: 100%;
    display: flex;
    align-items: center;
}
#header>.menu>.left-menu>li{
    height: 100%;
    display: flex;
    align-items: center;
}
#header>.menu>.left-menu>li>div{
    background: white;
    display: none;
    top:101px;
    padding: 0px 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 0px 0px 50px 50px;
}


#header>.menu>.left-menu>li>.uu-dai-menu{
    position: fixed;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;
    column-gap: 30px;
    left: 0;
    box-sizing: content-box;
    display: none;
    z-index: 200;
}
#header>.menu>.left-menu>li:hover>.uu-dai-menu{
    display: grid;
}

#header>.menu>.left-menu>li>.uu-dai-menu>.uu-dai{
    padding: 20px;
}
#header>.menu>.left-menu>li>.uu-dai-menu>.uu-dai>h3{
    font-size: 1.3em;
}
#header>.menu>.left-menu>li>.uu-dai-menu>.uu-dai>ul{
    list-style: none;
    /* margin-top: 20px; */
}
#header>.menu>.left-menu>li>.uu-dai-menu>.uu-dai>ul>li{
    margin-top: 30px;
}
#header>.menu>.left-menu>li>.uu-dai-menu>.uu-dai>ul>li>a{
    text-decoration: none;
    color: black;
}
#header>.menu>.left-menu>li>.AI-menu{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    position: fixed;
    display: none;
    z-index: 200;
}
#header>.menu>.left-menu>li:hover>.AI-menu{
    display: block;
}

#header>.menu>.left-menu>li>.AI-menu>ul{
    list-style: none;
}
#header>.menu>.left-menu>li>.AI-menu>ul>li{
    margin-bottom: 30px;
}
#header>.menu>.left-menu>li>.AI-menu>ul>li:last-of-type{
    margin-bottom: 0px;
}
#header>.menu>.left-menu>li>.AI-menu>ul>li>a{
    text-decoration: none;
    color: black;
}
#header>.menu>.left-menu>li>.di-dong-menu{
    position: fixed;
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: auto;
    display: none;
    z-index: 200;
}
#header>.menu>.left-menu>li:hover>.di-dong-menu{
    display: grid;
}
#header>.menu>.left-menu>li>.di-dong-menu>.list>ul{
    list-style: none;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
}
#header>.menu>.left-menu>li>.di-dong-menu>.list>ul>li{
    padding: 20px;
}
#header>.menu>.left-menu>li>.di-dong-menu>.list>ul>li>a{
    text-decoration: none;
    color: #000;
    font-size: 1.4em;
}
#header>.menu>.left-menu>li>.di-dong-menu>.suggest-product{
    margin-top: 20px;
    padding-left: 20px;
    border-left: 1px solid #DDDDDD;
}
#header>.menu>.left-menu>li>.di-dong-menu>.suggest-product>h3{
    color: #000;
    font-size: 2em;
    margin-bottom: 30px;
}
#header>.menu>.left-menu>li>.di-dong-menu>.suggest-product>.product-list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    row-gap: 20px;
    column-gap: 20px;
}
#header>.menu>.left-menu>li>.di-dong-menu>.suggest-product>.product-list>.product{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 10px 20px 10px;
    background-color: #f6f6f6;
    border-radius: 40px;
}
#header>.menu>.left-menu>li>.di-dong-menu>.suggest-product>.product-list>.product>a{
    text-decoration: none;
    color: #000;
    font-size: 1em;
    margin-bottom: 10px;
}
#header>.menu>.left-menu>li>.di-dong-menu>.suggest-product>.product-list>.product>a>img{
    width: 100%;
    height: auto;
}
#header>.menu>.left-menu>li>.tv{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: auto;
    position: fixed;
    left: 0;
    column-gap: 50px;
    display: none;
    z-index: 200;
}
#header>.menu>.left-menu>li:hover>.tv{
    display: grid;
}
#header>.menu>.left-menu>li>.tv>div{
    height: 
}
#header>.menu>.left-menu>li>.tv>div>h3{
    font-size: 1.3em;
    margin-bottom: 20px;
}
#header>.menu>.left-menu>li>.tv>div>ul{
    list-style: none;
}
#header>.menu>.left-menu>li>.tv>div>ul>li{
    margin: 30px 0;
}
#header>.menu>.left-menu>li>.tv>div>ul>li>a{
    text-decoration: none;
    color: #000;
}
#header .menu .left-menu .gia-dung {
    display: grid; 
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: auto;
    position: fixed;
    left: 0;
    column-gap: 50px;
    display: none;
    z-index: 200;
}
#header>.menu>.left-menu>li:hover>.gia-dung{
    display: grid;
}
#header .menu .left-menu li .gia-dung h3 {
    font-size: 1.3em;
    margin-bottom: 20px;
}
#header>.menu>.left-menu>li>.gia-dung>div>ul{
    list-style: none;
}
#header>.menu>.left-menu>li>.gia-dung>div>ul>li{
    margin: 30px 0;
}
#header>.menu>.left-menu>li>.gia-dung>div>div{
    margin-bottom: 50px;
}
#header>.menu>.left-menu>li>.gia-dung>div>div>ul{
    list-style: none;
}
#header>.menu>.left-menu>li>.gia-dung>div>div>ul>li{
    margin: 30px 0;
}
#header>.menu>.left-menu>li>.gia-dung a{
    text-decoration: none;
    color: #000;
}
#header>.menu>.left-menu>li>.may-tinh{
    display: grid; 
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    position: fixed;
    left: 0;
    column-gap: 50px;
    display: none;
    z-index: 200;
}
#header>.menu>.left-menu>li:hover>.may-tinh{
    display: grid;
}
#header>.menu>.left-menu>li>.may-tinh>div>h3{
    margin-bottom: 20px;
    font-size: 1.3em;
}
#header>.menu>.left-menu>li>.may-tinh>div>ul{
    list-style: none;
}
#header>.menu>.left-menu>li>.may-tinh>div>ul>li{
    margin: 30px 0;
}
#header>.menu>.left-menu>li>.may-tinh a{
    text-decoration: none;
    color: #000;
}
#header>.menu>.left-menu>li>.man-hinh{
    display: grid; 
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    position: fixed;
    column-gap: 50px;
    display: none;
    z-index: 200;
}
#header>.menu>.left-menu>li:hover>.man-hinh{
    display: grid;
}
#header>.menu>.left-menu>li>.man-hinh>div>h3{
    margin-bottom: 20px;
    font-size: 1.3em;
}
#header>.menu>.left-menu>li>.man-hinh>div>ul{
    list-style: none;
}
#header>.menu>.left-menu>li>.man-hinh>div>ul>li{
    margin: 30px 0;
}
#header>.menu>.left-menu>li>.man-hinh a{
    text-decoration: none;
    color: #000;
}
#header>.menu>.right-menu>li>.ho-tro a{
    text-decoration: none;
    color: #000;
}
#header>.menu>.right-menu{
    height: 100%;
    display: flex;
    align-items: center;
}
#header>.menu>.right-menu>li{
    height: 100%;
    display: flex;
    align-items: center;
}
#header>.menu>.right-menu>li>div{
    background: white;
    display: none;
    top:101px;
    padding: 0px 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 0px 0px 50px 50px;
    margin: 0 50px;
}
#header>.menu>.right-menu>li>.ho-tro{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    position: fixed;
    right: 0px;
    column-gap: 50px;
    display: none;
    z-index: 200;
}
#header>.menu>.right-menu>li:hover>.ho-tro{
    display: grid;
}
#header>.menu>.right-menu>li>.ho-tro ul{
    list-style: none;
}
#header>.menu>.right-menu>li>.ho-tro h3{
    margin-bottom: 20px;
    font-size: 1.3em;
}
#header>.menu>.right-menu>li>.ho-tro li{
    margin: 30px 0;
}

#header>.menu>ul>li>a{
    border: none;
    background-color: white;
    padding: 10px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 0.8em;
}
#header>.menu>ul>li:hover>a{
    border: none;
    background-color: black;
    padding: 10px;
    border-radius: 999px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 0.8em;
}

#header>.utility {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
#header>.utility>div {
    padding: 10px;
    display: flex;
    align-items: center;
}
#header>.utility>.open-sidebar{
    display: none;
}
#header>.utility img{
    width: 28px;
    height: auto;

}
#header>.utility img{
    width: 28px;
    height: auto;
}
#header>.utility>nav{
    display: flex; 
    flex-direction: column;
    position: fixed;
    top: 0;
    right: 0;
    justify-content: flex-start;
    width: 35vw;
    height: 100vh;
    background-color: white;
    padding: 20px 50px;
    display: none;
    z-index: 200;
}
#header>.utility>nav .infor{
    position: relative;
}
#header .utility nav .search-close{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 70px;
}
#header .utility nav .search-close .search{
    width: 80%;
    position: relative;
    display: flex;
    align-items: center;
}
#header .utility nav .search-close .search input{
    width: 100%;
    height: 40px;
    border: 3px dotted black;
    border-radius: 999px;
    background-color: #f7f7f7;
    padding: 15px 10px 15px 70px;
    font-size: 2em;
}
#header .utility nav .search-close .search span{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 20px
}
#header .utility nav .close,.back{
    display: flex;
    align-items: center;
}
#header .utility nav .back{
    display: none;
    align-items: center;
}

header .utility nav .sign-in {
    margin-bottom: 50px;
}
#header .utility nav .sign-in h3{
    margin-bottom: 30px;
}
#header .utility nav .sign-in h3 a{
    text-decoration: none;
    color: #000;
    font-size: 2em;
    font-weight: 300;
}
#header .utility nav .sign-in h3:hover a{
    font-weight: 600;
}
#header .utility nav .sign-in p{
    display: flex;
    align-items: center;
    padding-bottom: 30px;
    border-bottom: 1px solid #c6c6c6;
}

#header .utility nav .sign-in p a{
    text-decoration: none;
    color: #000;
    font-size: 1.5em;
    font-weight: 300;
    margin-right: 5px;

}
#header .utility nav>div>ul{
    list-style: none;
    padding: 30px 0;
    border-bottom: 1px solid #c6c6c6
}
#header .utility nav>div>ul>li{
   padding: 15px 0;
}
#header .utility nav>div>ul>li>a{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    color: black;
    font-size: 1.5em;
}
#header .utility nav>div>ul>li:hover>a{
    font-weight: 600;
}
#header .topic-inside{
    display: flex;
    flex-direction: column;
    display: none;
    
}
#header .topic-inside h4{
    font-size: 2em;
    font-weight: 600;
}
#header .topic-inside ul{
    list-style: none;
    padding: 0;
}
#header .topic-inside ul ul{
    display: none;
}
#header .topic-inside>ul>li>a{
    font-weight: 300;
    padding-bottom: 30px;
}
#header .topic-inside>ul>li:hover>a{
    font-weight: 600;
}
#header .topic-inside a{
    text-decoration: none;
    color: black;
}
#header .topic-inside>ul>li>ul{
    background-color: #f7f6f6;
}
#header .topic-inside>ul>li>ul>li{
    padding: 30px 50px;
}
#header .topic-inside>ul>li>ul>li>a{
    font-weight: 300;
    font-size: 1.5em;
}
#header .topic-inside>ul>li>ul>li:hover>a{
    font-weight: 600;
}

/* end - header */

/* Start - content */

/* first - slide show */
#content{
    margin: auto; 
    width: 1440px;
    max-width: 100vw;
    display: block;
}
#content>h2{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.63888889vw;
    margin-bottom: 50px;
}
.slider{
    height: 640px;
    position: relative;
    overflow: hidden;
    margin-bottom: 50px;
}
.list{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    display: flex;
    width: max-content;
    transition: 1s;
    position: relative;
}
.list img{
    width: 1440px;
    max-width: 100vw;
    height: 100%;

}
.list .item div{
    position: absolute;
    top: 45%; 
    transform: translateY(-50%);
    margin-left: 120px;
    width: 30vw;
    max-width: 960px;
}
.list .item div>h1{
    font-size: 24px;
}
.list .item div>h2{
    font-size: 18px;
}
.list .item div>p{
    font-size: 16px;
}
.list .shop-app>div>h1{
    color: white;
    font-weight: 600;
    margin-bottom: 50px;
}
.list .shop-app>div>h2{
    color: white;
    font-weight: 300;
    margin-bottom: 50px;
}
.list .shop-app>div>p>a:first-of-type{
    display:inline-flex;
    align-items: center;
    color: white;
    font-weight: 600;
    margin-right: 20px;
}
.list .shop-app>div>p>a:last-of-type{
    display:inline-flex;
    align-items: center;
    color: black;
    font-weight: 600;
    background-color: #fff;
    padding: 10px 20px;
    border-radius: 20px;
    transition: 0.3s;
}
.list .shop-app>div>p>a:last-of-type:hover{

    background-color: rgba(237, 237, 237, 0.978);

}
.list .samsung-ai-tv>div>h1{
    color: white;
    font-weight: 600;
    margin-bottom: 50px;
}
.list .samsung-ai-tv>div>h2{
    color: white;
    font-weight: 600;
    margin-bottom: 50px;
}
.list .samsung-ai-tv>div>p:first-of-type{
    color: white;
    font-weight: 300;
    margin-bottom: 50px;
}
.list .samsung-ai-tv>div>p:last-of-type{
    color: white;
    font-weight: 600;
    margin-bottom: 50px;
}
.list .samsung-ai-tv>div>p:last-of-type>span:first-of-type{
    padding: 10px 0;
    border-bottom: 2px solid white;
    margin-right: 20px;
    cursor: pointer;
}
.list .samsung-ai-tv>div>p:last-of-type>span:last-of-type{
    padding: 15px 20px;
    color: black;
    background-color: white;
    border-radius: 25px;
    cursor: pointer;
}
.list .samsung-ai-tv>div>p:last-of-type>span:last-of-type:hover{
    background-color: rgba(237, 237, 237, 0.978);
}
.list .s24>div>h1{
    font-weight: 600;
    margin-bottom: 50px;
}
.list .s24>div>h2{
    font-weight: 300;
    margin-bottom: 50px;
}
.list .s24>div>p>span{
    padding: 15px 20px;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    border-radius: 25px;
    cursor: pointer;
}
.list .s24>div>p>span:hover{
    background-color: rgba(53, 53, 53, 0.752);
}
.list .Kredivo>div>h1{
    font-weight: 600;
    margin-bottom: 50px;
}
.list .Kredivo>div>h2{
    font-weight: 400;
    margin-bottom: 50px;
}
.list .Kredivo>div>p>span{
    font-weight: 600;
    display: inline-flex;
    align-items: center;
    background-color: black;
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
}
.list .Kredivo>div>p>span:hover{
    background-color: rgba(53, 53, 53, 0.752);
}
.list .dieu-hoa-moi div {
    top: 30%;
    transform: translateY(-30%);
}
.list .dieu-hoa-moi>div>h1{
    color: white;
    font-weight: 600;
    margin-bottom: 50px;
}
.list .dieu-hoa-moi>div>h2{
    color: white;
    font-weight: 400;
    margin-bottom: 50px;
}
.list .dieu-hoa-moi>div>p>span{
    background-color: white;
    padding: 10px 20px;
    border-radius: 20px;
    font-weight: 600;
    cursor: pointer;
}
.list .dieu-hoa-moi>div>p>span:hover{
     background-color: rgba(237, 237, 237, 0.978);
}
.button{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    display: flex;
    justify-content: space-between;
    
}
.button button{
    width: 50px;
    height: 50px;
    border-radius: 990px;
    background-color: rgba(109, 109, 109, 0.333);
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
}
button:hover {
    background-color: rgba(0, 0, 0, 0.333);
}
#prev{
    padding-left: 7px;
}
.dots{
    position: absolute;
    bottom: 10px;
    color: #fff;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;

}
.dots li{
    list-style: none;
    width: 20px;
    height: 20px;
    background-color: #fff;
    margin: 20px;
    border-radius: 20px; 
    transition: 1s; 
}
.dots li.active{
    width: 30px;
}
#play-pause {
    width: auto;
    height: auto;
    background: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

/* content sale hot */
#content .sale-hot{
    position: relative;
    overflow: hidden;
    margin-bottom: 50px;

}
#content .sale-hot>ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style: none;
}
#content .sale-hot>ul>li{
    margin: 0 20px; 
    margin-bottom: 20px;
}
#content .sale-hot>ul>li>button{
    color: #000;
    font-weight: 600;
    border: none;
    background-color: white;
    font-size: 18px;
    cursor: pointer;
    transition: 0.3s;
    padding-bottom: 5px;
}
#content .sale-hot>ul>li>.active{
    border-bottom: 2px solid black;
}

/* #content .showcase{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    display: flex;
    width: max-content;
    transition: 1s;
    position: relative;
} */
#content .showcase{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    display: flex;
    width: max-content;
    transition: 1s;
    position: relative;
    overflow: hidden;
     transition: transform 0.5s ease;
}
#content .showcase a{
    text-decoration: none;
    color: #000;
    font-size: 18px;
    font-weight: 600;
    vertical-align: middle;
    text-align: center;
    overflow: hidden;
    word-wrap: break-word;
    text-overflow: ellipsis;
    line-height: 1.33;
    margin-bottom: 10px;
}
#content .showcase .big-title{
    font-size: 24px;
    font-weight: 600;
}
#content .showcase .main>div>a:nth-child(2){
    font-weight: 300;
}
#content .showcase .buy-now{
    visibility: hidden;
    cursor: pointer;
    color: white;
    background-color: #000;
    border-radius: 20px;
    padding: 10px 20px;
    transition: visibility 0.3s ease-in-out, opacity 0.3s ease-in-out;
    opacity: 0;
}
#content .showcase .mh-bn .small-infor{
    font-weight: 300;
    font-size: 12px;
}
#content .showcase .case{
    width: 1440px;
    max-width: 100vw;
    display: grid;
    height: 100%;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto; 
    grid-template-areas: 
    "main main item2 item3"
    "main main item4 item5"
    ;
    column-gap: 20px;
    row-gap: 20px;
}
#content .showcase .case .item{
    position: relative;
}
#content .showcase .case .item>img{
    width: 100%;
    border-radius: 20px;
}
#content .showcase .case .item>div{
    width: 85%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
}
#content .showcase .case .main>div{
    bottom: 5%;
}
#content .showcase .case .main{
    grid-area: main; 
}
#content .showcase .case .item2{
    grid-area: item2; 
}
#content .showcase .case .item3{
    grid-area: item3; 
}
#content .showcase .case .item4{
    grid-area: item4; 
}
#content .showcase .case .item5{
    grid-area: item5; 
}
#content .list-limited-product{
    margin: 0 20px;
    position: relative;
    overflow: hidden;
}
#content .list-limited-product>h2{
    font-weight: 600;
    font-size: 28px;
    margin-bottom:20px ;
}
#content .list-limited-product>h2>span{
    font-weight: bold;
    font-size: 14px;
    padding-left: 10px;
    padding-top: 5px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
#content .show-limit-pr{
    position: absolute;
    left: 0px;
    position: relative;
    margin-bottom: 50px;
    display: flex;
    width: 100%;
    height: 100%;
    z-index: 1; 
    flex-direction: row;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}
#content .show-limit-pr>a{
    width: 280px;
    height: auto;
    border-radius: 20px;
    text-decoration: none;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    font-size: 14px;
    font-weight: bold;
    margin: 0 12px;
    flex-shrink: 0;
}
#content .show-limit-pr>a>img{
    border-radius: 20px 20px 0 0;
}
#content .show-limit-pr .card-title {
    padding: 16px;
    color: black;
    background-color: #f7f7f7;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.33;
    flex:1;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    border-radius: 0 0 20px 20px;
}
#content .show-limit-pr .card-cta{
    position: absolute;
    top: 170px; 
    text-align: center;
    width: 100%;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}
#content .show-limit-pr .card-cta>span{
    padding: 10px 20px;
    color: #fff;
    background-color: black;
    border-radius: 20px;
}
#content .next-prev{
    width: 100%;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    z-index: 200;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#content .next-prev button{
    cursor: pointer;
    border: none;
    padding: 10px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.333);
}
#content .next-prev .prev{
    padding-left: 15px;
    padding-right: 5px;
    visibility: visible;
}
#content .next-prev .next{
    visibility: visible;
}

@media (max-width: 1440px){
    #header>.menu{
        display: none;
    }
    #header{
        display: flex;
        justify-content: space-between;
    }
    #header>.utility{
        grid-template-columns: repeat(4, 1fr);
    }
    #header>.utility>.open-sidebar{
        display: flex;
        overflow: hidden;
    }
    .list img{
        object-fit: cover;
    }
    .list .item>div>h1{

        font-size: 1.666667vw;
    }
    .list .item>div>h2{
        font-size: 1.25vw;
    }
    .list .item div>p{
        font-size: 1vw;
    }
    #content .sale-hot>ul>li>button{
        font-size: 1.25vw;
    }
    
    #content .showcase a{
        font-size: 1.25vw;
        font-weight: 600;
    }
    #content .showcase .big-title{
        font-size: 1.6666667vw;
        font-weight: 600;
    }
    #content .showcase .mh-bn .small-infor{
        font-size: 0.977777vw;
    }
    #content .list-limited-product{
        position: relative;
    }
    #content .list-limited-product>h2{
        font-weight: 600;
        font-size: 1.94vw;
    }
    #content .list-limited-product>h2>span{
        font-weight: 600;
        font-size: 0.97222vw;
    }
    #content .show-limit-pr>a{
        width: 19.44444444vw;
        border-radius: 1.38888889vw;
        margin: 0vw .83333333vw 0vw .83333333vw;
    }
    #content .show-limit-pr>a{
        font-size: 0.972222vw;
    }
    #content .show-limit-pr .card-title {
        padding: 1.11111111vw;
        font-size: .97222222vw;
    }
    #content .show-limit-pr .card-cta{
        top: 11.80555556vw; 
    }
    #content .show-limit-pr .card-cta>span{
        padding: .69444444vw 2.36111111vw .76388889vw 2.36111111vw;
        border-radius: 1.38888889vw;
    }
}

